body{
    background-color: black;
    font-family: 'Lora', serif;
    counter-reset: my-sec-counter;
}
.container{
    /* margin:20px 100px 20px 100px; */
    background-repeat:repeat;
    overflow: hidden;
    padding: 30px 60px;
}
.header{
    color: rgb(80, 43, 38);
    text-align: center;
    background-color: rgb(240, 197, 105);
    padding: 10px;
    font-size: 30px;
    margin: 10px;
    overflow: hidden;
}
.row-1{
    background-color: rgb(241, 239, 239);
    padding: 40px 50px;
    margin: 10px;
    line-height: 25px;
    color:rgb(112, 87, 87);
}
.row-1 p::before{
    
    counter-increment: my-sec-counter;
  content: counter(my-sec-counter) ". ";
  position: absolute;
  left: 110px;
  
}

.result-row{
    display: flex;
    justify-content: space-between;
}

.col-random, .col-result{
    width: 45%;
    color: rgb(80, 43, 38);
    margin-right: 10px;
    text-align: center;
    font-size: 25px;
    background-color: rgb(238, 212, 142);
    margin: 10px;
    display: block;
}

.col-random::before{
    content: "Random Number";
    text-align: center;
    /* background-color: rgb(226, 187, 78); */
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    
}
.button-row{
    width: max-content;
    padding: 10px ;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}
.button-col{
    width: 100px;
    float: left;
    margin-top: 5px;
}
button img{
    
    width: 80px;
    

}
.score{
    clear: both;
    background-color: wheat;
    text-align: center;
    width: 40%;
    margin:  30px auto;
    padding: 20px 0;
}
.score-row{
    font-size: 30px;
}

 @media only screen and (max-width: 540px)  {
     .container{
        padding: 0;
        margin: 0;
     }
     .button-row{
         overflow: visible;
         
     }
     .button-col{
        
        float: left;
        
    }
    .row-1 p::before{
        left: 50px;
    }
    .score{
        margin-top:  120px;
    }
 }
   
   
